<%-  include('includes/head.ejs') %>
        <section class="hero-section hero-bg d-flex justify-content-center align-items-center">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8 col-12 text-center mx-auto">
                        <h2 class="page-404-title">500</h2>

                        <h3>Database Unreachable</h3>

                        <p>Please check your Wamp Server.</p>
                        <p>Then check your Wamp Server connection.</p>

                        <a class="custom-btn btn mt-4" href="/">Back to Home</a>
                    </div>
                </div>
            </div>

            <div class="video-wrap">
                <video autoplay="" loop="" muted="" class="custom-video" poster="">
                    <source src="videos/video404.mp4" type="video/mp4">

                    Your browser does not support the video tag.
                </video>
            </div>
        </section>
<%- include('includes/end.ejs') %>
